
.learnset-editor-container{
    background-color: aqua;
    height: 100%;
}

.learnset-move-container{
    background-color: purple;

    span{
        padding-left: 5px;
        padding-right: 5px;
    }
}

.learnset-table-header{
    
    span{
        padding-left: 5px;
        padding-right: 5px;
    }
}