@use '../../_misc.scss' as m;

#options-menu{
    @include m.viewingWindow(column);
    display: flex;
    align-items: center;
    
}

#options-list{
    div{
        border-style: double;
        padding: 1rem 1rem 1rem 1rem;
        //padding-top: 10px;

        h3{
            position: absolute;
            margin-top: -35px;
            color: aliceblue;
        }
    }
}

#confirmation{
    position: fixed;
    z-index: 1;
    width: 100vw;
    height: 100vh;

    background-color: aqua;

    display: flex;
    visibility: hidden;

    justify-content: center;
    align-items: center;

    
}

#confirmation-message{
    background-color: blueviolet;
    border-radius: 4px;

    padding: 2rem;
}

#confirmation-button-container{
    display: flex;
    justify-content: space-around;
}

.options-button{
    background-color: black;
    color: aliceblue;
    border-radius: 8px;
    border-color: purple;
    font-size: x-large;

    &:hover{
        color: teal;
        border-radius: 4px;
        border-style: dashed;
        font-size: xx-large;
        cursor: pointer;
    }
}